.banner_header{
    margin: 1%;
    /* background-color: red; */
    height: 180px;

}
.banner_roxo{
    background-color: blueviolet;
    color: white;
    display: flex;
    height: 80px;
    margin-bottom: 20px;
}

.banner_azul{
    background-color: #011fb3;
    height: 80px;
}